*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-color-100:#74c69d;
    --green-color-75:rgba(116, 198, 157, 0.75);
    --green-color-50:rgba(116, 198, 157, 0.50);
    --green-color-25:rgba(116, 198, 157, 0.25);
    --dark-color-100:#212529;
    --dark-color-75:rgba(33, 37, 41, 0.75);
    --dark-color-50:rgba(33, 37, 41, 0.50);
    --dark-color-25:rgba(33, 37, 41, 0.25);
    --white-color-100:#ffffff;
    --white-color-75:rgba(255, 255, 255, 0.75);
    --white-color-50:rgba(255, 255, 255, 0.50);
    --white-color-25:rgba(255, 255, 255, 0.25);
    --ff-crimson-text:  "Crimson Text", serif;
    --ff-work-sans:  "Work Sans", serif;
    --fs-40px:40px;
    --fs-32px:32px;
    --fs-30px:30px;
    --fs-28px:28px;
    --fs-24px:24px;
    --fs-20px:20px;
    --fs-16px:16px;
    --fs-15px:15px;
    --fw-700:700;
    --fw-500:500;
    --fw-400:400;
    --main-section-padding: 45px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-weight: var(--fw-400);
    background-color: var(--white-color-100);
}
.container{
    width: min(1180px, 100% - 40px);
    margin: auto;
}
ul{
    list-style: none;
}
a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
input,
textarea{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
}
/* Utility Classes */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
    align-items: center;
}
.i-flex{
    display: inline-flex;
    align-items: center;
}
h1.title{
    font-size:clamp(var(--fs-28px) ,5vw, var(--fs-40px));
    font-weight: var(--fw-700);
    color: var(--dark-color-100);
}
h2.title{
    font-size:clamp(var(--fs-24px) ,5vw, var(--fs-32px));
    font-weight: var(--fw-700);
    color: var(--dark-color-100);
}
h3.title{
    font-size: var(--fs-28px);
    font-weight: var(--fw-700);
    color: var(--dark-color-100);
}
h3.subtitle{
    font-size: var(--fs-24px);
    font-weight: var(--fw-700);
    color: var(--dark-color-100);
}
span.subtitle{
    font-family: var(--ff-work-sans);
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
    color: var(--green-color-100);
}
p.special-description{
    font-family: var(--ff-work-sans);
    font-size: var(--fs-20px);
    color: var(--dark-color-100);
    line-height: 1.6;
}
p.description{
    font-family: var(--ff-work-sans);
    font-size: var(--fs-15px);
    color: var(--dark-color-50);
    line-height: 1.6;
}
.link-btn{
    display: inline-flex;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: var(--ff-work-sans);
    font-size: var(--fs-20px);
    background-color: var(--dark-color-100);
    color: var(--white-color-100);
}
.submit-btn{
    display: inline-flex;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: var(--ff-work-sans);
    font-size: var(--fs-20px);
    background-color: var(--dark-color-100);
    color: var(--white-color-100);
    cursor: pointer;
}
/* components */
header{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 25px 0;
    background-color: var(--green-color-100);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-work-sans);
}
header .container .logo{
    gap: 15px;
}
header .container .logo a{
    font-size: clamp(var(--fs-30px) ,5vw ,var(--fs-40px));
    font-weight: var(--fw-500);
    color: var(--white-color-100);
}
header .container nav ul li a{
    font-size: var(--fs-20px);
    color: var(--white-color-100);
}
@media (max-width:991px) {
    header .container nav ul{
        position: fixed;
        top: 107px;
        right: -100%;
        z-index: 9;
        max-width: 250px;
        width: 60%;
        padding: 15px;
        border-radius: 15px;
        background-color:var(--dark-color-75);
        transition: all 200ms ease;
    }
    header .container nav .menu-icon{
        cursor: pointer;
    }
    header .container nav ul.menu{
        right: 20px;
    }
    header .container nav ul li a{
        display: block;
        margin: 10px;
        text-align: center;
    }
} 
@media (min-width:992px) {
    header .container nav .menu-icon{
        display: none;
    }
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
section{
    padding: var(--main-section-padding);
}
.similar-section-one .container article.info{
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.similar-section-one .container .image{
    text-align: center;
}
.similar-section-two .container{
    flex-direction: column;
    align-items: center;
    gap: 55px;
}
.similar-section-two .container .info{
    flex-direction: column;
    text-align: center;
    gap: 15px;
    max-width: 450px;
    width: 100%;
}
.hero{
    background-color: var(--green-color-100);
}
.hero .container{
    gap: 30px 40px;
    min-height: calc(100vh - 170px);
}
.hero .container article.info h1,
.hero .container article.info p.description,
.hero .container article.info span.subtitle{
    color: var(--white-color-100);
}
.hero .container article.info .link-btn{
    margin-top: 10px;
    background-color: var(--white-color-100);
    color: var(--dark-color-100);
}
@media (min-width:992px) {
    .hero .container{
        grid-template-columns: 40% 1fr;
        align-items: center;
        justify-content: space-between;
    }
}
.partners .container .parteners-list{
    grid-template-columns: repeat(auto-fit, min(180px ,100%));
    justify-content: center;
    align-items: center;
    gap:30px 70px;
    width: 100%;
}
.communication .container{
    gap: 30px 80px;
}
@media (min-width:992px) {
    .communication .container{
        grid-template-columns: 1fr 40%;
        align-items: center;
        justify-content: space-between;
    }
}
.analyze .container{
    gap: 30px 80px;
}
@media (min-width:992px) {
    .analyze .container{
        grid-template-columns: 40% 1fr;
        align-items: center;
        justify-content: space-between;
    }
}
.our-team .container .our-team-list{
    grid-template-columns: repeat(auto-fit, min(265px ,100%));
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.our-team .container .our-team-list .col{
    display: flex;
    gap: 20px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 3px 4px 12px 1px var(--dark-color-25);
    background-color: var(--white-color-100);
}
.our-team .container .our-team-list .col .person-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.our-team .container .our-team-list .col .person-details span{
    font-family: var(--ff-work-sans);
    font-size: var(--fs-15px);
    color: var(--dark-color-75);
}
.our-works .container{
    flex-direction: column;
    align-items: center;
    gap: 55px;
}
.our-works .container .info{
    flex-direction: column;
    text-align: center;
    gap: 15px;
    max-width: 450px;
    width: 100%;
}
.our-works .container .works-list{
    grid-template-columns: repeat(auto-fit, min(570px, 100%));
    justify-content: center;
    gap: 40px 40px;
    width: 100%;
}
.our-works .container .works-list .col{
    text-align: center;
}
.our-services .container{
    gap: 55px;
}
.our-services .container .info{
    text-align: center;
    gap: 15px;
    max-width: 450px;
    width: 100%;
}
.our-services .container .services-list{
    grid-template-columns: repeat(auto-fit, min(340px, 100%));
    justify-content: center;
    gap: 40px 80px;
    width: 100%;
}
.our-services .container .services-list .service{
    gap: 50px;
    padding: 45px 30px;
    box-shadow: 3px 4px 12px 1px var(--dark-color-25);
}
.our-services .container .services-list .service .service-details{
    gap: 10px;
    text-align: center;
    font-family: var(--ff-work-sans);
    color: var(--dark-color-100);
}
.our-services .container .services-list .service .service-details >span{
    font-size: var(--fs-15px);
}
.our-services .container .services-list .service .service-details .price{
    display: flex;
    align-items: center;
}
.our-services .container .services-list .service .service-details .price>strong{
    font-size: var(--fs-40px);
}
.our-services .container .services-list .service .service-details .price>span{
    font-size: var(--fs-15px);
    color: var(--dark-color-50);
}
.our-services .container .services-list .service .features{
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.our-services .container .services-list .service .features .feature{
    align-items: center;
    gap: 10px;
}
.contact-us .container{
    gap: 55px;
}
.contact-us .container .info{
    text-align: center;
    gap: 15px;
    max-width: 450px;
    width: 100%;
}
.contact-us .container .component{
    grid-template-columns: repeat(auto-fit, min(575px, 100%));
    justify-content: center;
    align-items: center;
    gap: 40px 30px;
    width: 100%;
}
.contact-us .container .component .form-box form{
    flex-direction: column;
    gap: 20px;
}
.contact-us .container .component .form-box form >div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--ff-work-sans);
    color: var(--dark-color-100);
}
.contact-us .container .component .form-box form >div label{
    font-size: var(--fs-20px);
}
.contact-us .container .component .form-box form >div input{
    padding: 10px;
    border: 1px solid var(--dark-color-50);
    border-radius: 12px;
}
.contact-us .container .component .form-box form >div textarea{
    padding: 10px;
    min-width:100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 80px;
    border: 1px solid var(--dark-color-50);
    border-radius: 12px;
}
.contact-us .container .component .map iframe{
    width: 100%;
}
footer{
    padding: 40px 0;
    background-color: var(--green-color-100);
}
footer .container{
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--ff-work-sans);
    font-size: clamp(var(--fs-20px) - 6px ,5vw ,var(--fs-20px));
    color: var(--white-color-100);
}
footer .container .social-links{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media (max-width:991px) {
    footer .container{
        justify-content: center;
        gap:20px 120px;
    }
}
@media (min-width:992px) {
    footer .container{
        justify-content: space-between;
    }
}